mat-grid-tile{
    border: 5px solid black;
}

.btn-remove-img{
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: rgb(141, 31, 31);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}