<div class="bg">
    <div class="container mt-3 p-5" style="background-color: #080A52;">
        <div class="card p-2">
            <div class="row">
                <div class="col-6">
                    <form #ticketForm="ngForm" (ngSubmit)="addTicket(ticketForm)">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Movie Title</mat-label>
                            <input matInput placeholder="Movie Title" [(ngModel)]="ticket.movieName" name="movieName" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Genre</mat-label>
                            <input matInput placeholder="Genre" [(ngModel)]="ticket.genre" name="genre" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Main Actors</mat-label>
                            <input matInput placeholder="Main Actors" [(ngModel)]="ticket.actors" name="actors" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Director</mat-label>
                            <input matInput placeholder="Director" [(ngModel)]="ticket.director" name="director" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Movie summary</mat-label>
                            <input matInput placeholder="Movie summary" [(ngModel)]="ticket.description" name="description" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Language</mat-label>
                            <input matInput placeholder="Language" [(ngModel)]="ticket.language" name="language">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Actual price</mat-label>
                            <input matInput placeholder="Actual price" [(ngModel)]="ticket.actualPrice" name="actualPrice" >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Discounted Price</mat-label>
                            <input matInput placeholder="Discounted price" [(ngModel)]="ticket.discountedPrice" name="discountedPrice">
                        </mat-form-field>
                        <div align="end">
                            <button type="submit" mat-raised-button color="primary">Add Ticket</button>&nbsp;&nbsp;
                            <button type="reset" mat-raised-button color="accent">Reset</button>
                        </div> 
                    </form>  
                </div>
                <div class="col-6">
                    <div>
                        <input type="file" multiple value="select" #selectFile
                    (change)="onFileSelection($event)"
                    >
                    </div>
                    <div class="mt-5">
                        <div class="row">
                            <mat-grid-list cols="4" rowHeight="1:1">
                                <mat-grid-tile *ngFor="let file of ticket.moviePoster; let i=index;">
                                    <div style="position: relative">
                                        <span class="btn-remove-image" (click)="removeImage(i)">X</span>
                                        <img [src]="file.url" alt="" width="150px" height="150px">
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list> 
                        </div>                         
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // file-- array of moviePoster-- present inside ticket.module.ts --it is of type filehandle --created inside FileHandle.model.ts --a component named url to show the url. -->