/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #080A52;}
/* .img{
    background-image: url('/assets/Images/bg-movie-b.webp');
   height: 600px;
    background-repeat: no-repeat;
    background-position: center;   
} */
.bg{
    background-color: #080A52;
}

.page{
    width: max-content;
    height: 470px;
}